include README.md
include pinecrypt/server/templates/mail/*.md
include pinecrypt/server/builder/overlay/usr/bin/pinecrypt.server-*
include pinecrypt/server/builder/overlay/etc/uci-defaults/*
include pinecrypt/server/builder/overlay/etc/profile
include pinecrypt/server/builder/*.sh
